.rightarr {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    opacity: 0.5;
    transform: rotate(-45deg);
    margin-left: 30px;
}

.clh {
    height: 55px;
    margin-top: 5px;
}

.tgl {
    position: relative;
    display: inline-block;
    height: 30px;
    cursor: pointer;
}

.tgl > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* Put the input behind the label so it doesn't overlay text */
    visibility: hidden;
}

.tgl .tgl_body {
    width: 60px;
    height: 30px;
    background: white;
    border: 1px solid #dadde1;
    display: inline-block;
    position: relative;
    border-radius: 50px;
}

.tgl .tgl_switch {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 50%;
    border: 1px solid #ccd0d6;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    -moz-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, -moz-transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -o-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, -o-transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -webkit-transition: left cubic-bezier(0.34, 1.61, 0.7, 1), -webkit-transform cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transition-delay: 250ms, 250ms;
    transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    z-index: 1;
}

.tgl .tgl_track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 50px;
}

.tgl .tgl_bgd {
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 55px;
    -moz-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -o-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -webkit-transition: left cubic-bezier(0.34, 1.61, 0.7, 1), right cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transition-delay: 250ms, 250ms;
    transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    background: #439fd8 url("http://petelada.com/images/toggle/tgl_check.png") center center no-repeat;
}

.tgl .tgl_bgd-negative {
    right: auto;
    left: -45px;
    background: white url("http://petelada.com/images/toggle/tgl_x.png") center center no-repeat;
}

.tgl:hover .tgl_switch {
    border-color: #b5bbc3;
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.tgl:active .tgl_switch {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.tgl > :not(:checked) ~ .tgl_body > .tgl_switch {
    left: 30px;
}

.tgl > :not(:checked) ~ .tgl_body .tgl_bgd {
    right: -45px;
}

.tgl > :not(:checked) ~ .tgl_body .tgl_bgd.tgl_bgd-negative {
    right: auto;
    left: -10px;
}

.hAvailability {
    height: 15px
}

.shed {
    height: 35px;
    text-align: center;
}

.card_time {
    height: 30px;
    background-color: #19d88d;
    width: 90px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    margin: 0
}

.selTime {
    width: 120px;
    margin-left: -55px;
}

.cardcust {
    width: 650px;
    margin: auto;
}

.rightADD {
    margin-left: 60px
}

.week {
    margin-left: 15px
}

.left-p {
    z-index: 1;
}

.right-p {
    z-index: 1;
}

.profile-content {
    margin-top: -60px;
}

a {
    text-decoration: none;
}

.bookmark-btn {
    border-radius: 100px;
}

.cover_photo {
    opacity: .8;
}

.child {
    display: none;
}

.see_more_content {
    color: #286780;
    font-family: BentonSans;
    font-weight: 600;
    font-size: 10px;
}

.see_less_content {
    display: none;
    color: #286780;
    font-family: BentonSans;
    font-weight: 600;
    font-size: 10px;
}

.clh {
    height: 70px;
    margin-top: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper {
    width: 100%;
    height: 320px;
}

.drop {
    width: 420px;
    height: 300px;
    border: 3px dashed #DADFE3;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.drop .cont {
    width: 100%;
    height: 100%;
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.drop .cont i {
    font-size: 400%;
    color: #8E99A5;
    position: relative;
}

.drop .cont .tit {
    font-size: 400%;
    text-transform: uppercase;
}

.drop .cont .desc {
    color: #A4AEBB;
}

.drop .cont .browse {
    margin: 10px 25%;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    background: #09f;
}

.drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#list {
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}

#list .thumb {
    height: 75px;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

.pro-name {
    color: white;
    font-size: 27px;
    font-weight: 700;
    text-decoration-style: solid;
    padding-top: 10px;
}

.profile-head {
    margin-top: -110px;
    padding-bottom: 15px;
}

.pro-biz-name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 40px;
    color: #353737;
}

.pro-title {
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 5px;
}

.pro-description {
    font-size: 12px;
}

.addr {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #353737;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
}

.location {
    color: #2BA6CB;
    font-size: 12px;
    font-weight: 400;
}

.location-hours td {
    padding: 0px;
    font-size: 12px;
}

.location-hours td:first-of-type {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.addre {
    color: #353737;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: -14px;
}

.profile-breadcrumbs {
    margin-top: 20px;
}
